extends ../../layouts/master
block content
  .row
    .col-xs-2
    .col-xs-8
      h3 Edit Album

      form.form-horizontal(method='post', action='/albums/#{album._id}')
        .form-group
          label.col-sm-1.control-label(for='name') Name
          .col-sm-11
            input(type='text', name='name', value=album.name, autofocus=true, required)
        .form-group
          label.col-sm-1.control-label(for='date') Date
          .col-sm-11
            input(type='date', name='date', value=dateStr, required)
        .form-group
          button(type='submit') Submit Edits
